<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>ServletCallback</servlet-name>
    <servlet-class>com.lecture.finalproject.controller.CallbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-class>com.lecture.finalproject.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletSignin</servlet-name>
    <servlet-class>com.lecture.finalproject.controller.SigninServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletWrite</servlet-name>
    <servlet-class>com.lecture.finalproject.controller.WriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletWrite</servlet-name>
    <url-pattern>/write</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletCallback</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletLogout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletSignin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>setCharacterEncodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
</web-app>